.recipeArticle {
  /* width: 50vw; */
  max-width: 450px;
  font-family: sans-serif;
  /* max-width: 75vw; */
  /* height: auto; */
}
.visible {
  margin-top: -25px;
  z-index: 2;
  opacity: 10;
  /* padding-top: -50px; */
  /* border: 2px solid blue; */
}
.foodImg {
  /* width: 50vw; */
  max-width: 450px;
  border-radius: 5px;
  border: 2px solid grey;
  display: block;
  box-shadow: inset 3px 3px 5px 6px white;
  /* flex-grow: 2; */
}
.recipeTitle {
  margin-top: -2.5em;
  max-width: 300px;
  text-shadow: 1px 1px 2px white;
  margin-left: 0.5em;
  margin-bottom: 0;
  /* background-color: WHITE; */
}
.showMore {
  transform: translateY(300px);
  transition: 0.5s;
  float: right;
}
.titelo {
  border: 1px solid rgba(36, 101, 255, 0.25);
  background-color: rgba(36, 101, 255, 0.25);
  padding: 0.1em;
  margin: 0.1em 0;
  border-radius: 5px;
}
.details {
  transform: translateY(1.5em);
  background-color: rgba(36, 101, 255, 0.25);
  border: 1px solid grey;
  padding-top: 0.5em;
  z-index: 0;
  border-radius: 5px;
  margin: 0;
}
.showMore::before {
  /* float: right; */
  cursor: pointer;
  color: rgb(36, 101, 255);
  outline: 2px black;
  font-size: 3em;
}
.showMore.active::before {
  content: "▼";
}
.showMore.inactive::before {
  content: "▲";
}
.showMore:hover {
  transform: translateY(300px) scale(1.5);
}

.fas {
  cursor: pointer;
  margin: 0;
  color: gray;
  transform: translateY(1.2em);
  transition: 0.5s;
  font-size: 3em;
}
.fas:hover {
  transform: translateY(1.2em) scale(1.2);
}
.favorite {
  color: rgb(36, 101, 255);
}
.recipeHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
}
ol,
li {
  max-width: 200px;
}
.recipeSource {
  max-width: 400px;
  /* margin-top: 10em; */
  text-decoration: none;
  color: white;
  text-align: center;
}
.moreResults {
  font-family: sans-serif;
  font-size: 1.5em;
  padding: 1em;
  cursor: pointer;
  transition: 0.5s;
  color: rgb(36, 101, 255);
}
.moreResults:hover {
  text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.726);
}
.holdMe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 500px) {
  .recipeHolder {
    max-width: 75vw;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .recipeArticle {
    margin: 1em;
  }
  .moreResults {
    /* padding-top: 2em; */
    margin: 0 auto;
    text-align: center;
  }
}
