.resultDisplayed {
  width: 75vh;
  height: auto;
  /* display: flex;
  flex-direction: row; */
}

.foodImg {
  flex-grow: 2;
}
.fas {
  color: gray;
}

.favorite {
  color: rgb(36, 101, 255);
}
.recipeHolder{
  display: flex;
  flex-direction: column;
  align-items: center;
}