<section class="recipeHolder">
  <article
    class="recipeArticle"
    [ngClass]="{ delete: gone }"
    *ngFor="let recipe of favList; index as i"
  >
    <img class="foodImg" src="{{ recipe.recipe.image }}" alt="" />
    <div>
      <h3>{{ recipe.recipe.label }}</h3>

      <!-- <p>{{ recipe.recipe.source }}</p> -->
      <div class="buttonHolder">
        <button (click)="info(i)">More Info</button>
        <button class="delete" (click)="deleteMe(i)">delete</button>
      </div>
      <div [hidden]="showMore[i]">
        <span class="linkHolder">
          <a href="{{ recipe.recipe.url }}" target="_blank">
            step by step recipe instructions.
          </a>
        </span>
        <ol>
          <li
            *ngFor="let ingredient of recipe.recipe.ingredientLines; index as i"
          >
            {{ ingredient }}
          </li>
        </ol>
      </div>
    </div>
  </article>
</section>
