<form
  #searchForm="ngForm"
  (ngSubmit)="
    doSearch(
      searchForm.value.search,
      searchForm.value.calories,
      searchForm.value.dietary
    )
  "
>
  <label for="search" class="searchLabel">
    looking for...
    <input
      placeholder="i.e. chicken"
      type="text"
      name="search"
      id="search"
      ngModel
      required
    />
    <input name="submit" class="submit" type="submit" value="find" />
  </label>
  <div class="togglers">
    <button
      (click)="toggleCalories()"
      class="caloriesButton"
      [ngClass]="{ inactive: caloriesHidden, active: !caloriesHidden }"
    >
      calories
    </button>
    <button
      (click)="toggleDietary()"
      class="dietaryButton"
      [ngClass]="{
        inactive: dietaryRestrictionHidden,
        active: !dietaryRestrictionHidden
      }"
    >
      dietary restriction
    </button>
  </div>
  <section class="hiddenOptions">
    <label for="calories" [hidden]="caloriesHidden">
      max calories
      <input
        [hidden]="caloriesHidden"
        type="range"
        min="100"
        max="1000"
        name="calories"
        id="calories"
        class="calories"
        ngModel
      />
    </label>

    <label for="dietary" [hidden]="dietaryRestrictionHidden">
      <select name="dietary" id="dietary" ngModel>
        <option value="">Dietary Restriction</option>
        <option value="low-carb">low carb</option>
        <!-- <option value="low-sodium">low sodium</option> -->
        <option value="high-protein">high protein</option>
        <option value="balanced">balanced</option>
        <option value="low-fat">low fat</option>
      </select>
    </label>
  </section>
</form>
