<form #searchForm="ngForm" (ngSubmit)="doSearch(searchForm.value.search)">
  <label for="search">looking for</label>
  <input
    placeholder="i.e. chicken"
    type="text "
    name="search"
    id="search"
    ngModel
    required
  />
  <label for=" " [hidden]="dietaryRestrictionHidden">Dietary Restriction</label>
  <select name=" " id=" " [hidden]="dietaryRestrictionHidden">
    <option value=" "></option>
    <option value=" "></option>
    <option value=" "></option>
    <option value=" "></option>
  </select>
  <input type="submit" routerLink="//results" />
</form>
